<div class="wrapper">
  <div *ngIf="!loading" class="body">
    <img class="logo" src="../../../assets/top-header-logo.png" alt="img login">
    <div class="form-floating mb-3 mt-3">
      <input type="text" [(ngModel)]="username" autocomplete="false" class="form-control" placeholder="Enter Username">
      <label>Username</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" [(ngModel)]="password" autocomplete="false" class="form-control" placeholder="Enter Password">
      <label>Password</label>
    </div>
    <div class="d-grid gap-2">
      <button type="button" class="btn btn-primary btn-lg" (click)="login()">LOGIN</button>
    </div>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
</div>
